<% content_for :head do %>
<title>小马过河-提示信息</title>
<meta name="description" content="提示信息" />
<meta name="keywords" content="小马过河" />
<% end %>

	<div class="container empty_list">


					<% if flash[:message] %>
						<div class="common_message"><%= flash[:message] %><br/><a href="/">返回首页</a></div><!-- .message -->
						<% end %>
						<% if flash[:error] %>
						<div class="common_error"><%= flash[:error] %><br/><a href="/">返回首页</a></div><!-- .error -->
					<% end %>




	</div><!-- #content_container -->

	<div class="clear"></div>

