* {
	font-size: 12px;
}

.clearfix {
    display: block;
}

body {
	/*background: none repeat scroll 0 0 #EFEFEF;*/
    font-family: 'Microsoft YaHei',Verdana,Tahoma,Helvetica,Arial,sans-serif;
    margin: 0;
    /*position: relative;*/
    /*text-align: center;*/
}

.blank {
	height:40px;
	clear: both;
}

.headname {
	display: block;
	height: 17px;
	width:65px;
}
.hideoverflow {
	overflow: hidden;
}
.tag_title {
	color:red;
}

.logo {
	margin-top: 15px;
	float:left;
	width:176px;
	height:60px;
	background:url("../images/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
}

h1 span.title_keywords {
	font-size: 12px;
	color: #006699;
}

/* top login header */
#top_bar {
	margin-left: auto;
	margin-right: auto;
	width:960px;
	height:32px;
	padding:0 10px;
	line-height:32px;
	text-align:right;
	overflow:hidden;
}
#top-header a {
	color: #FFFFFF;
}
#top-header {
	color: #FFFFFF;
	/*background: url("../images/bg.jpg") repeat scroll 0 0 #2E2E2E;*/
	background: none repeat scroll 0 0 #a83336;
	border-bottom:5px solid #4d4d4d;
	height:185px;
	margin-bottom: 5px;

}
.header {
	/*background: url("../images/bg-header.png") repeat-x 0 0 scroll;*/
    /*background: none repeat scroll 0 0 #315CA1;*/
    /*border-bottom: 1px solid #254F99;*/
    height: 84px;
	margin-bottom: 20px;
}

#mainMenu {
    background: url("../images/bgNav.jpg") repeat-x scroll 0 0 #525252;
    box-shadow: 0 0 10px #000000;
    clear: both;
    list-style: none outside none;
    overflow: hidden;
    padding: 5px;
	margin: 0 auto;
    width: 960px;
}
span.warning a {
    color:red;
}

.roundedLarge {
    border-radius: 5px 5px 5px 5px;
}
#mainMenu li {
    float: left;
    margin: 0 10px;
}
#mainMenu .fr {
	float: right ;
}
#top-header #mainMenu a {
    color: #CCCCCC;
    display: block;
	font-weight: bold;
    font-size: 14px;
    padding: 4px;
    text-shadow: 1px 1px 0 #000000;
    text-transform: uppercase;
}

#mainMenu a:link, #mainMenu a:visited {
	text-decoration: none;
}
#top-header #mainMenu li a:hover {
	color: #FFFFFF;
	text-shadow: 2px 2px 1px #000000;
}

/*
.current a:link, .current a:visited, #mainMenu .new:link, #mainMenu .new:visited {
    color: #FFFFFF !important;
}
*/

/* all layout*/
#layout {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#head_center {
	margin: 0 auto;

    width: 960px;
}
.setlink {
	color: #FFFFFF;
    height: 35px;
    /*margin-top: 40px;*/
}
.setlink a {
	color:#FFFFFF;
	text-decoration:none;
	margin-left:8px;
}
.setlink a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.setlink a:link, .setlink a:visited, .setlink a:active {
    color: #FFFFFF;
}
/* banner的导航部分*/

.setlink dl {
	margin-left: 20px;
	background: url(" http://mat1.gtimg.com/www/images/nav/nav_2.png") no-repeat scroll right center transparent;
	padding-right:25px;
}

.nav_list {
	height: 55px;
}

.nav_list dt {
	float: left;
    height: 55px;
	padding-top: 8px;
}
.nav_list dt a {
	font-size: 14px;
	float: left;
    width: 18px;
}


.nav_list dd {
	padding-top: 10px;
	margin-left: 30px;
}


.container {
    margin: 0 auto;
    width: 960px;
}

.container_spilt {
    margin-bottom: 8px;
}

.content_container {
	margin-left: 20px;
	padding-right:20px;
}

/*页面标题部分*/
.page_title {
	border-bottom: 1px solid #DEDEDE;
	margin-bottom: 12px;
}
.page_title h1 {
	font-family: 'Microsoft YaHei',Verdana,Tahoma,Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}

.page_title span{
	color: #004276;
	font-size: 18px;
}
/*页脚*/
.footer {
	background: none repeat scroll 0 0 #d5d4da;
	border-top:5px solid #4d4d4d;
}

.friends-title {
	margin-left:20px;
	width:120px;
	float:left;
	height:60px;
	color:#000000;
	text-align: center;
	padding-top:24px;
}

.friends-title a{
	font-size:14px;
	color:#000000;
	font-weight: bold;
}

.friends-link {
	width:820px;

	float:left;
}

.friends-link ul {
	margin:0;
    padding: 0;
}
.friends-link li {
	margin:10px;
}
.friends_first a {
	color:red;
	font-weight: bold;
}

.copyright-link {
	margin: 0 auto;
	height:40px;
	width:522px;
}


.copyright-link li a{
	margin:10px;
	color:#000000;
}
.footer p {
    color: gray;
    font-size: 12px;
    line-height: 1.8;
    text-align: center;
	margin-bottom:0;
}

/*表单信息展示*/
.form_info_container {
	margin-left: 20px;
	padding-right:20px;
}

.form_info_desc {
	margin-left: 100px;
	height:40px;
	padding-top: 18px;
	font-size:14px;
	color: 	#808080;
}

.form_info_left label {
	margin-right: 10px;
	color: #004276;
	font-weight: bold;
}

.form_info_left {
	padding:15px;
	float:left;
	width: 600px;
	float:left;
	border-right: 1px solid #DEDEDE;
}

.form_info_right {
	float:left;
	padding:5px 15px 5px;
	width: 200px;
}
/*列表信息展示*/
.list_container {
	margin-left: 20px;
	padding-right:20px;
}

.list_left {
	padding:15px;
	float:left;
	width: 600px;
	float:left;
	border-right: 1px solid #DEDEDE;
}

.list_right {
	float:left;
	padding:5px 15px 5px;
	width: 200px;
}
.list_line label {
	margin-right: 10px;
	color: #004276;
	font-weight: bold;
}
.list_line h3 {
	padding: 5px 0 5px 5px;
	font-size: 14px;
	background: none repeat scroll 0 0 #F2F2F2;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
}
/*表单部分*/
.form_container {
	margin-left: 20px;
	padding-right:20px;
}

.form_desc {
	margin-left: 100px;
	height:40px;
	padding-top: 18px;
	font-size:14px;
	color: 	#808080;
}

.form_desc .current {
	font-size:14px;
	color: 	#000000;
	font-weight: bold;
}

.form_desc .form_desc_tip {
	font-size:12px;
	color: 	#000000;
}


.form_left {
	padding:15px;
	float:left;
	width: 500px;
	border-right: 1px solid #DEDEDE;
}

.form_right {
	float:left;
	padding:5px 15px 5px;
	width: 319px;
}


form label {
	display:inline-block;
	width:120px;
	font-weight: bold;
}

form input {
	width:180px;
}

form input.langip {
    height:20px;
    width:455px;
}

form select {
	width:184px;
}
.global_form {
	margin-bottom: 9px;
	vertical-align:middle;
	padding-top: 1px;
}

.global_form .input_title {
	clear: both;
}

.form_tips {
	color: 	#808080;
	margin-bottom: 9px;
	clear: both;
}

form #form_submit input {
	background: url("../images/form_btn2.gif") no-repeat scroll 0 0 transparent;
	height:32px;
	border:0;
	width: 130px ;
	color:#FFFFFF;
	font-size:14px;
	font-weight: bold;
	cursor: pointer;
}

form #form_submit input.download  {
	background: url("../images/download.png") no-repeat scroll 0 0 transparent;
	height:66px;
	border:0;
	width: 200px ;
	color:#FFFFFF;
	font-size:14px;
	font-weight: bold;
	cursor: pointer;
}


.info_left {
	width: 320px
}

.info_right {
	width: 600px
}

#info_pic {
	width:200px;
	height:208px;
	background: url("../images/logo-3.gif") no-repeat scroll 0 0 transparent;
}

/*表单验证*/

.submit_message {
	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 6px 9px;
	margin: 10px 0 21px;
}

.submit_error {
	color: red;
	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 6px 9px;
	margin: 10px 0 21px;
}

.field_with_errors .message {
	color: red;
	padding-left: 5px;
	font-size: 12px;
}




#error_explanation {
	width: 400px;
	border: 2px solid #red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li {
	clear: both;
	font-size: 12px;
	list-style: square;
}
.uploaded_files {
	margin-top: 20px;
	margin-bottom: 20px;
	background: none repeat scroll 0 0 #FFFBBC;
    border: 1px solid #E6DB55;
    padding: 6px 9px;
}
.uploaded_files ul {
	padding-left: 0px;
	clear: both;
}

.uploaded_files ul li{
	clear: both;
}

.upload_file_name {
	color: #004276;
}

.uploaded_files .download_files li {
	width: 455px;
}
.uploaded_files .download_files span.fr a{
	color: red;
}

.warning {
	color:red;
}

.left_bottom_link {
	margin-top: 60px;
	height:20px;
}

.content h5 {
	margin-top: 10px;
	margin-bottom: 0px;
}
.content .title {
	font-size: 16px;
	color: #004276;
}

.rich_list ul {
	padding-left:0px;
}
.rich_list .content h5 .dl_type {
	color: red;
}

.rich_list .content .description, .rich_list .content img {
	float: left;
	margin-right: 20px;
}
.rich_list .content .description {
	width: 680px;
}

.rich_list .upload_info {
	width: 680px;
	background: none repeat scroll 0 0 #EEEEEE;
    padding: 6px 9px;
	margin: 10px 0 21px 0;
}

.index_rich_list ul li {
	margin-left:0px;
}
.dl_type, .category {
	color: red;
}
.index_rich_list .content h5 .dl_type {
	color: red;
}
.index_rich_list .content .description, .index_rich_list .content img {
	float: left;
	margin-right: 20px;
}
.index_rich_list .content .description {
	width: 500px;
}

.index_rich_list .upload_info, .index_rich_list .trans_info {
	width: 500px;
	background: none repeat scroll 0 0 #EEEEEE;
    padding: 6px 9px;
	margin: 10px 0 21px 0;
}

.upload_info span.json_digg {
    padding-left: 00px;
}

.upload_info span {
    background-repeat: no-repeat;
    margin: 0 6px;
    padding-left: 20px;
}

.trans_info span {
    background-repeat: no-repeat;
    margin: 0 6px;
}

.upload_info .comment {
	background-image: url("../images/icon_comment.gif");
}

.upload_info .view,  .trans_info .view{
    background-image: url("../images/icon_arrow.gif");
	color: gray;
}

.upload_info .date, .trans_info .date{
    color: #A12A2A;
    padding-left: 0;
}

.upload_info .edit,  .trans_info .edit{
    float:right;
}
/*分页样式*/
.pagination {
  padding: 3px;
  margin: 3px;
}
.will_pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.will_pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.will_pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.will_pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

/*
.paginate .paginate_info {
	float:left;
}


.paginate .pagination li {
	width:20px;
	border: 1px solid #CCCCCC;
	background: none repeat scroll 0 0 #EEEEEE;
	margin-left:5px;
	margin-right:5px;
	padding:2px;
	text-align:center;
}

.paginate .pagination .previous_page {
	width:45px;
}

.paginate .pagination .next_page {
	width:45px;
}

*/

.list_leftside {
	float:left;
	width: 590px;
	padding-right: 20px;
	border-right: 1px solid #DEDEDE;
}

.list_rightside {
	float: right;
	width: 320px;
}

.list_rightside ul.content {
    border-bottom: 1px dashed #DDDDDD;
    padding: 10px 0;
	margin:0px auto;
	overflow:hidden;
}

.list_rightside ul.content li{
    float: left;
    overflow: hidden;
    width: 120px;
	padding: 3px, 3px, 3px, 3px;
}

h2.subject {
    background: none repeat scroll 0 0 #F0F0F0;
    /*border-left: 2px solid #CA0002;*/
    color: #555555;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 0 10px;
}

.list_rightside ul.rank_list{
	padding: 0;
    overflow:hidden;
}
.list_rightside .rank_list li{
    border-bottom: 1px dashed #DDDDDD;
    line-height: 14px;
    margin-bottom: 7px;
    padding: 0 0 7px;
	float: none;
}


.list_rightside ul.img_rank_list{
	padding: 0;
    overflow:hidden;
}
.list_rightside .img_rank_list li{
	width:66px;
    border-bottom: 1px dashed #DDDDDD;
    line-height: 14px;
    margin-bottom: 7px;
    padding: 0 0 7px;
	float: left;
    overflow: hidden;
	text-align: center;
}

.list_leftside .page_sample_info {
	margin-top:10px;
}

.page_user_info {
	width:66px;
	float:left;
}

.page_user_info a{
	display: block;
}

.list_leftside .upload_info {
	float:left;
	width: 500px;
	background: none repeat scroll 0 0 #EEEEEE;
    padding: 6px 9px;
	margin: 10px 0 21px 0;
}

.list_bottom_partition {
	padding-bottom: 10px;
	border-bottom: 1px dashed #DDDDDD;
}

.downloads_content_desc p img {
	float:left;
	margin-right: 20px;
}

.downloads_content h5 {
	font-size:24px;
}

.downloads_content h5 span{
	font-size:14px;
	color: #004276;
}

.downloads_list ul {
	padding: 0;
}
.downloads_list ul li {
	width:600px;
	clear: both;
	margin: 5px 10px 5px 0 ;
	padding: 5px 0 5px 0 ;
	background: none repeat scroll 0 0 #EEEEEE;

}
.downloads_list ul li .downloads_count {
	margin-right: 10px;
	float: right;
}

.upload_img {
    background: url("../images/upload.png") no-repeat scroll 0 0 transparent;
	height:66px;
	border:0;
	width: 200px ;
	color:#FFFFFF;
	font-size:14px;
	font-weight: bold;
	cursor: pointer;
}

.credits_img {
    background: url("../images/232211iu73qd9iv39uar3b.png") no-repeat scroll 0 0 transparent;
	height:66px;
	border:0;
	width: 200px ;
	color:#FFFFFF;
	font-size:14px;
	font-weight: bold;
	cursor: pointer;
}

.shenqing_huodong {
    background: url("../images/shenqinghuodong.png") no-repeat scroll 0 0 transparent;
	height:47px;
	border:0;
	width: 202px ;
	color:#FFFFFF;
	font-size:14px;
	font-weight: bold;
	cursor: pointer;
}

#ckepop {
	margin: 10px 0 40px;
}


.container .main_left {
	width: 666px;
	margin:0 10px 10px 0px;
	padding:2px;
}

.container .admin_main {
	width: 920px;
	margin:0 10px 10px 0px;
	padding:2px;
}

.container .main_right {
	width: 276px;
	margin:0;
	padding:2px;
}

/*问答的左边表格*/
table.grid {
    width: 100%;
}
table.grid tbody td {
    border-top: 1px dashed #DDDDDD;
    padding: 5px 3px;
}

td {
    font-size: 1em;
}

tr.mouse_over {
    background-color: #F2F8EF;
}
td.date {
    color: green;
}

td.open, h3.open {
    background-image: url("../images/ask.gif");
}

td.close, h3.close {
    background-image: url("../images/greenright.gif");
}

td.open, td.close {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px !important;
}

.container h3 span.ask_title {
	font-size: 14px;
	line-height: 30px;
	padding: 5px;
	background: none repeat scroll 0 0 #F0F0F0;
}

.container h3 a{
	font-size: 13px;
    padding: 5px;
    text-decoration: underline;
}

span.score {
    background-image: url("../images/score.gif");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px;
}
span.level0 {
    background-image: url("../images/star.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px;
}
span.level1 {
    background-image: url("../images/star.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px;
    color: #f472f9;
}
span.level2 {
    background-image: url("../images/star.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15px;
    color: red;
}

.base_short_info {
	width: 100%;
	background: none repeat scroll 0 0 #EEEEEE;
    padding: 6px 9px;
	margin: 10px 0 5px 0;
}

.base_short_info .date {
    color: red;
}

.question {
    border: 1px solid #793fe5;
    padding: 15px;
    margin: 5px 0 15px;
}

.answer_form {
    border: 1px solid #DDDDDD;
    padding: 0;
    margin: 5px 0 15px;
}

.answer_form h5 {
    /*border: 1px solid #793fe5;*/
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 5px;
    margin: 0 0 15px;
}
#answers_textarea {
    margin: 20px;
}

.other_answers {
    border: 1px solid #DDDDDD;
    padding: 0;
    margin: 5px 0 15px;
}

.other_answers h5 {
    /*border: 1px solid #793fe5;*/
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 5px;
    margin: 0 0 15px;
}

.answer_info {
    border-bottom: 1px dashed #CCCCCC;
    font-size: 12px;
    font-weight: normal;
    line-height: 26px;
    text-align: right;
}

.answer_info .date {
    color: red;
}

.operation {
    border: 1px solid red;
    padding: 0;
    margin: 5px 0 15px;
}
.operation h5 {
    margin: 5px;
}
.operation h5 a{
    color: #d71818;
}

.page_title span.ask_status_2 {
    color: red;
}

.page_title span.ask_status_1 {
    color: #10d427;
}

span.right_answer, span.mark_right_answer a {
    color: #10d427;
}

/*问答右侧*/
.ask_tags h4 {
	padding-left:5px;
}
.ask_tags h4 a{
	font-size: 1.15em;
    line-height: 1.3em;
    margin: 0 0 0.25em;
    padding: 0;
}

.my_ask h2 a{
	color: green;
	font-size: 16px;
}

.empty_list {
	height: 400px;
}


.common_error {
    color: red;
    margin-top: 100px;
    margin-left: 170px;
    width: 600px;
	height: 70px;

	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 6px 9px;

}
.common_message {

    margin-top: 100px;
    margin-left: 170px;
    width: 600px;
	height: 70px;

	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 6px 9px;

}

input#query{
	height: 20px;
}

#search_submit {
	width:50px;
	height:26px;
	line-height: 26px;
	background-position: -60px -100px;
}

.btn_srh {
	background: url("../images/ui_ns_sbg4.png") no-repeat scroll 0 -100px transparent;
    border: medium none;
    cursor: pointer;
    font-size: 13px;
    height: 29px;
    letter-spacing: 3px;
    padding: 1px 0 3px 3px;
    text-align: center;
}
form label.error {
    width: 250px;
    color: red;
}
form .global_form label.error {
    width: 250px;
    color: red;

}
form .global_form label.message {
    width: 250px;
    color: red;

}
/*搜索引擎*/
span.rstl {
    display: inline-block;
    position: relative;
}
em, .rbt b, .c b, #mbEnd b {
    color: #CC0033;
    font-style: normal;
}
.search_result h3.r {
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
}
a em, a b {
    text-decoration: underline;
}
.search_result span.search_url {
    color: #0E774A;
}

.search_result li.sl {
    margin-bottom: 14px;
}
.search_result div.sbc {
    width:620px;
}

/*搜索框*/
.all_search input.search_textinput {
    border: 1px solid #C3C3C3;
    height: 24px;
    line-height: 24px;
    width: 180px;
    margin-top:0px;
    margin-bottom:0px;
    padding: 0 2px;
}

.all_search .btn-srh {
    background: url("../images/ui_ns_sbg4.png") no-repeat scroll -360px -100px transparent;
    border: medium none;
    cursor: pointer;
    height: 26px;
    letter-spacing: 3px;
    margin: 0 0 0 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    width: 50px;
}

.hot_keywords {
    height:26px;
    line-height:26px;
    overflow:hidden;
}
/*首页的专栏*/
.container .zjzl{
    border: 1px solid #CCCCCC;
    display: inline;
    float: left;
    margin: 0 5px 10px;
    padding: 10px;
    width: 208px;
}
.container .zjzl h2 {
    font-size: 12px;
    margin: 0;
}
.container h2.zjzl_title {
    background: url("../images/title_bottom_line.gif") repeat-x scroll center bottom transparent;
    font-size: 14px;
    height: 15px;
    margin-bottom: 10px;
}

h2.zjzl_title span {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: left;
    line-height: 15px;
    padding-right: 5px;
}

.container .zjzl .zjzl_preview {
    height: 100px;
    overflow: hidden;
}
.container .zjzl .zjzl_preview img {
    width: 90px;
}

.container .zjzl .zjzl_preview .zjzl_photo {
    float: left;
    height: 55px;
    overflow: hidden;
    padding-right: 10px;
    width: 90px;
}
.container .zjzl .zjzl_preview p {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.container .zjzl .public_list li {
    background: url("../images/list_style_disc1.png") no-repeat scroll left 2px transparent;
    list-style: none outside none !important;
    padding-left: 10px;
}
.container .zjzl .public_list li a {
    display: block;
    height: 20px;
    overflow: hidden;
    width: 190px;
    line-height:20px;
}

.container .app_hot {
    float: left;
    width: 310px;
    padding: 5px;
}

.container .app_hot li{
    background: url("../images/list_style_disc.gif") no-repeat scroll left 2px transparent;
    list-style: none outside none !important;
    padding-left: 10px;
}

.container .app_hot h2.subject{
    color: #000000;
    margin: 0 5px 10px 0;
}

.container .app_hot li a {
    display: block;
    height: 20px;
    line-height:20px;
    overflow: hidden;
    width: 190px;
}

.digg .push_up, span.json_digg .push_up {
    background: url("../images/arrow_up.gif") no-repeat scroll left 2px transparent;
    color: #17A300;
    margin: 0 2em 0 0;
    padding: 0 0 0 11px;
}

.digg .push_up, span.json_digg .trample {
    background: url("../images/arrow_down.gif") no-repeat scroll left 2px transparent;
    color: #FF0000;
    margin: 0 2em 0 0;
    padding: 0 0 0 11px;
}

.digg .push_up, span.json_digg .best_tran {
    /*background: url("../images/arrow_up.gif") no-repeat scroll left 2px transparent;*/
    color: #17A300;
    padding: 0 0 0 2px;
}
span.best_trans a {
    color: green;
}

span.other_trans a {
    color: #ab24bf;
}

