

#index_slide {
	width:700px;
	height:300px;
	position:relative;
	float:left;
}


/*
	Slideshow
*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

#index_slide .slides_container {
	width:500px;
	overflow:hidden;
	position:relative;
	display:none;
	float:left;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#index_slide .slides_container div.slide {
	width:500px;
	height:270px;
	display:block;
}



/*
	Pagination
*/

#index_slide .pagination {
	float: left;
	margin:0;
	width:176px;
	height:270;
}
#index_slide ul.pagination {
	padding-left:0;
	height:270;
}

#index_slide .pagination li {
	width:180px;
	border: 1px solid #FFFFFF;
	float:none;
	list-style:none;
}

#index_slide .pagination li a {
	display:block;
	width:180px;
	height:42px;
	background: none repeat scroll 0 0 #E8E9EA;
    color: #333333;
	padding:5px;
}

#index_slide .pagination li.current a {
	display:block;

	padding:5px;
	background: url("../images/jqslide/current-bg.png") no-repeat scroll 0 0 transparent;
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:460px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

