		<div class="container">
			<div id="index_slide">
				
				<div id="slides">
					<div class="slides_container">
						<div class="slide">
							<a href="http://www.flickr.com/photos/jliba/4665625073/" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank"><img src="images/jqslide/slide-1.jpg" width="500" height="270" alt="Slide 1"></a>
							<div class="caption" style="bottom:0">
								<p>新托福听力TPO全套下载</p>
							</div>
						</div>
						<div class="slide">
							<a href="http://www.flickr.com/photos/stephangeyer/3020487807/" title="Taxi | Flickr - Photo Sharing!" target="_blank"><img src="images/jqslide/slide-2.jpg" width="500" height="270" alt="Slide 2"></a>
							<div class="caption">
								<p>从威廉王子和凯特的结婚誓词</p>
							</div>
						</div>
						<div class="slide">
							<a href="http://www.flickr.com/photos/childofwar/2984345060/" title="Happy Bokeh raining Day | Flickr - Photo Sharing!" target="_blank"><img src="images/jqslide/slide-3.jpg" width="500" height="270" alt="Slide 3"></a>
							<div class="caption">
								<p>特色学校TOP5――留学美国</p>
							</div>
						</div>
						<div class="slide">
							<a href="http://www.flickr.com/photos/stephangeyer/3020487807/" title="Taxi | Flickr - Photo Sharing!" target="_blank"><img src="images/jqslide/slide-2.jpg" width="500" height="270" alt="Slide 2"></a>
							<div class="caption">
								<p>2011年托福考试预测机</p>
							</div>
						</div>
						<div class="slide">
							<a href="http://www.flickr.com/photos/childofwar/2984345060/" title="Happy Bokeh raining Day | Flickr - Photo Sharing!" target="_blank"><img src="images/jqslide/slide-3.jpg" width="500" height="270" alt="Slide 3"></a>
							<div class="caption">
								<p>美国总统奥巴马的演讲</p>
							</div>
						</div>
					</div><!-- .slides_container -->
					<ul class="pagination">
						<li><a href="#">新托福听力TPO全套下载</a></li>
						<li><a href="#">从威廉王子和凯特的结婚誓词,从威廉王子和凯特的结婚誓词</a></li>
						<li><a href="#">特色学校TOP5――留学美国</a></li>
						<li><a href="#">2011年托福考试预测机</a></li>
						<li><a href="#">美国总统奥巴马的演讲</a></li>
					</ul><!-- .pagination -->
					
				</div><!-- #slide -->
				
			</div><!-- #index_slide -->
			
			
			<div id="index_news" >
				<h3 class="subject">热门专题 小马特色</h3>
				<ul>
					<li>
						<p>
							<img src="http://media.newjobs.com/mm/redux/cmscontent/monster-resume-writing_sm.jpg">
							<a href="#">匹配题除了配标题外，还有匹配句子开头或结尾形式,配标题外，还有匹</a>
						</p>
						
					</li>
					<li>
						<p>
							<img src="http://media.newjobs.com/mm/redux/cmscontent/US/get-new-jobs-emailed-to-you_sm.jpg">
							<a href="#">匹配题除了配标题外，还有匹配句子开头或结尾形式</a>
						</p>
						
					</li>
					<li>
						<p>
							<img src="http://media.newjobs.com/mm/redux/cmscontent/BAM_sm.jpg">
							<a href="#">匹配题除了配标题外，还有匹配句子开头或结尾形式</a>
						</p>
						
					</li>
					<li>
						<p>
							<img src="http://media.newjobs.com/mm/redux/cmscontent/US/post-a-resume-get-found_lg.jpg">
							<a href="#">匹配题除了配标题外，还有匹配句子开头或结尾形式</a>
						</p>
						
					</li>
				</ul>
			</div><!-- #index_news -->
			<div class="clear"></div>	
			
		</div><!-- #container -->
		
		<div class="container">
			<div id="index_bjtj" class="bg_right_split">
				<h3 class="subject">编辑推荐 近期热点</h3>
				<ul>
					<li>
						<div>
							<img src="http://img3.douban.com/spic/s1401378.jpg">
							
						</div>
						<h6><a href="#">匹在流行界首屈一指</a></h6>				
						<div class="tjdata">
							<span class="views">浏览:288</span><span class="date">2011-05-23</span>  
						</div>
					</li>
					<li>
						<div>
							<img src="http://img3.douban.com/spic/s3724167.jpg">
							
						</div>
						<h6><a href="#">匹在流行界首屈一指要跟我说Lady Gaga的境界在流行界首屈一指</a></h6>				
						<div class="tjdata">
							<span class="views">浏览:288</span><span class="date">2011-05-23</span>  
						</div>
					</li>
					<li>
						<div>
							<img src="http://img3.douban.com/spic/s6358306.jpg">
							
						</div>
						<h6><a href="#">要跟我说Lady Gaga的境界在流行界首屈一指</a></h6>				
						<div class="tjdata">
							<span class="views">浏览:288</span><span class="date">2011-05-23</span>  
						</div>
					</li>
					<li>
						<div>
							<img src="http://img3.douban.com/spic/s3572868.jpg">
							
						</div>
						<h6><a href="#">匹在流行界首屈一指</a></h6>				
						<div class="tjdata">
							<span class="views">浏览:288</span><span class="date">2011-05-23</span>  
						</div>
					</li>
					<li>
						<div>
							<img src="http://img3.douban.com/spic/s4681458.jpg">
							
						</div>
						<h6><a href="#">匹在流行界首屈一指</a></h6>				
						<div class="tjdata">
							<span class="views">浏览:288</span><span class="date">2011-05-23</span>  
						</div>
					</li>
					<li>
						<div>
							<img src="http://img3.douban.com/spic/s3323536.jpg">
							
						</div>
						<h6><a href="#">匹在流行界首屈一指</a></h6>				
						<div class="tjdata">
							<span class="views">浏览:288</span><span class="date">2011-05-23</span>  
						</div>
					</li>
					<li>
						<div>
							<img src="http://img3.douban.com/spic/s4721496.jpg">
							
						</div>
						<h6><a href="#">匹在流行界首屈一指</a></h6>				
						<div class="tjdata">
							<span class="views">浏览:288</span><span class="date">2011-05-23</span>  
						</div>
					</li>
					<li>
						<div>
							<img src="http://img3.douban.com/spic/s2807621.jpg">
							
						</div>
						<h6><a href="#">匹在流行界首屈一指</a></h6>				
						<div class="tjdata">
							<span class="views">浏览:288</span><span class="date">2011-05-23</span>  
						</div>
					</li>
				<ul>
				<div class="clear"></div>	
			</div>
			
			<div id="index_cate_list" class="bg_right_split">
				<div class="index_cate_container common">
					<h3>托福</h3>
					<ul>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">经验分享：取得新托福高分的十大关键</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">新版《新托福考试官方指南》发布 新增</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">经验分享：取得新托福高分的十大关键</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">新版《新托福考试官方指南》发布 新增</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<div class="clear"></div>	
					</ul>
					<div class="clear"></div>	
				</div>
				<div class="index_cate_container common">
					<h3>雅思</h3>
					<ul>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">经验分享：取得新托福高分的十大关键</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">新版《新托福考试官方指南》发布 新增</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">经验分享：取得新托福高分的十大关键</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">新版《新托福考试官方指南》发布 新增</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<div class="clear"></div>	
					</ul>
					<div class="clear"></div>	
				</div>
				<div class="index_cate_container common">
					<h3>GRE GMAT</h3>
					<ul>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">经验分享：取得新托福高分的十大关键</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">新版《新托福考试官方指南》发布 新增</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">经验分享：取得新托福高分的十大关键</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">新版《新托福考试官方指南》发布 新增</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<div class="clear"></div>	
					</ul>
					<div class="clear"></div>	
				</div>
				
				<div class="index_cate_container last">
					<h3>SAT SSAT ACT AP</h3>
					<ul>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">经验分享：取得新托福高分的十大关键</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">新版《新托福考试官方指南》发布 新增</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">经验分享：取得新托福高分的十大关键</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">新版《新托福考试官方指南》发布 新增</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<li>
						<a class="fl" href="#">托福听力五大法宝</a>
						<span class="fr date">2011-05-23</span>
						</li>
						<div class="clear"></div>	
					</ul>
					<div class="clear"></div>	
				</div>
			</div>
			
			<div id="useful_info">
				<div class="useful_info_con common first">
					<h3>出国留学考试指南 实用信息</h3>
					<ul>
						<li>
							[<a target="_blank" href="http://www.taisha.org/test/toefl/e_book/swf.html">托福</a>]
							<a href="http://www.taisha.org/test/toefl/zhuanti/08baokao/index.html">报名流程 </a>
							<a href="http://www.taisha.org/test/toefl/shouce/200708/20070821101144.html">考生手册</a>
							<a href="http://www.taisha.org/test/toefl/shouce/200701/20070125140847.html">证件要求</a>
							<a href="http://www.taisha.org/test/toefl/shouce/200708/20070821133626.html">费用</a>
							<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">寄送</a>
						</li>
						<li>
							[<a target="_blank" href="http://www.taisha.org/test/ielts/e_book/">雅思</a>] 
							<a target="_blank" href="http://www.taisha.org/test/ielts/shouce/200707/20070725143708.html">证件要求</a> 
							<a target="_blank" href="http://www.taisha.org/test/ielts/shouce/200709/20070905122724.html">费用</a> 
							<a target="_blank" href="http://www.taisha.org/test/ielts/shouce/200709/20070905131900.html">所需表格</a> 
							<a target="_blank" href="http://www.taisha.org/test/ielts/shouce/200709/20070910160243.html">考点环境</a> 
							<a target="_blank" href="http://www.taisha.org/test/ielts/taishayas/200711/20071128163552.html">复议</a>
						</li>
						<li>
							[<a target="_blank" href="http://www.taisha.org/test/gre/e_book/">GRE</a>]
							<a href="http://www.taisha.org/test/gre/shouce/200709/20070919115544.html">表格下载</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200709/20070919140528.html">寄送</a> 
							<a href="http://www.taisha.org/test/gre/taisha/200711/20071129104721.html">复议</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200709/20070919142128.html">查分</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200704/20070405151246.html">报名</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200708/20070831145223.html">费用</a>
						</li>
						<li>
							[<a target="_blank" href="http://www.taisha.org/test/gre/e_book/">GMAT</a>]
							<a href="http://www.taisha.org/test/gre/shouce/200709/20070919115544.html">表格下载</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200709/20070919140528.html">寄送</a> 
							<a href="http://www.taisha.org/test/gre/taisha/200711/20071129104721.html">复议</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200709/20070919142128.html">查分</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200704/20070405151246.html">报名</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200708/20070831145223.html">费用</a>
						</li>
						<li>
							[<a target="_blank" href="http://www.taisha.org/test/gre/e_book/">SAT</a>]
							<a href="http://www.taisha.org/test/gre/shouce/200709/20070919115544.html">表格下载</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200709/20070919140528.html">寄送</a> 
							<a href="http://www.taisha.org/test/gre/taisha/200711/20071129104721.html">复议</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200709/20070919142128.html">查分</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200704/20070405151246.html">报名</a> 
							<a href="http://www.taisha.org/test/gre/shouce/200708/20070831145223.html">费用</a>
						</li>
					</ul>
				</div>
				<div class="useful_info_con common highlist">
					<h3 class="tag_title">热门标签</h3>
					<ul class="taglist">
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">乔治亚州</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">哈佛</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">剑桥英语</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">乔治亚州啊</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">剑桥英语</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">美国</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
						<li><a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">托福</a></li>
					</ul>
				</div>
				<div class="useful_info_con common highlist">
					<h3>出国留学考试资讯 新闻动态</h3>
					<ul>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">2011澳大利亚留学8大名校预科课程全解</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">澳大利亚留学毕业后 可申请485类签证</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">中国留学生新西兰的奢侈生活</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">剑桥英语考试获批用于澳洲留学证明语言能力</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">免费体验全真GRE模考 从容完胜6G</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">华人在英国，申请入籍or永居？</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">华人在英国，申请入籍or永居？</a>
						</li>
					</ul>
				</div>
				
				<div class="useful_info_con last">
					<h3 class="tag_title">学习方法 经验交流</h3>
					<ul>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">2011澳大利亚留学8大名校预科课程全解</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">澳大利亚留学毕业后 可申请485类签证</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">中国留学生新西兰的奢侈生活</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">剑桥英语考试获批用于澳洲留学证明语言能力</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">免费体验全真GRE模考 从容完胜6G</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">华人在英国，申请入籍or永居？</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">2010中国海归亿万富豪调查 哈佛</a>
						</li>
						<li>
							-<a target="_blank" href="http://www.taisha.org/test/toefl/shouce/200708/20070821140435.html">美国“大U”展播：乔治亚州、纽约州</a>
						</li>
					</ul>
				</div>
				<div class="clear"></div>	
			</div>
			
			
			
			
			
			<div class="clear"></div>		
		</div><!-- #container -->