<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> New Document </TITLE>
  <META NAME="Generator" CONTENT="EditPlus">
  <META NAME="Author" CONTENT="">
  <META NAME="Keywords" CONTENT="">
  <META NAME="Description" CONTENT="">
 </HEAD>

 <BODY>
<script type="text/javascript">
  var thisURL = document.URL;  
  var thisHREF = document.location.href; 
  # 主类
  function XM(){
	# 定义公有方法
	
  }
  XM.prototype.writeLoginInfo = function(){
	# 在当前节点里插入一个节点
	alert(thisURL);
  }
  XMobj = new XM();
  XMobj.writeLoginInfo();
</script>  
 </BODY>
</HTML>