<h1>Listing dl_images</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dl_images.each do |dl_image| %>
  <tr>
    <td><%= link_to 'Show', dl_image %></td>
    <td><%= link_to 'Edit', edit_dl_image_path(dl_image) %></td>
    <td><%= link_to 'Destroy', dl_image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dl image', new_dl_image_path %>
