<%= form_for(@dl_attachment) do |f| %>
  <% if @dl_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dl_attachment.errors.count, "error") %> prohibited this dl_attachment from being saved:</h2>

      <ul>
      <% @dl_attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
