<% content_for :head do %>
<title>小马过河-新建专题索引</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<% end %>

<div class="container">
			<div class="page_path">
			  <a href="/xmadmin">后台</a> &gt;&gt; <a href="/xmadmin/searches">专题索引</a> &gt;&gt; 全部
			  </div><!-- .page_path -->
			  <div class="page_title"><h1>新建专题索引</h1></div>
			<div class="main_admin">
				 <form id="new_campaign" class="new_campaign" method="post" action="/xmadmin/searches" accept-charset="UTF-8">
          <% if flash[:message] %>
          <div class="submit_message"><%= flash[:message] %></div><!-- .message -->
          <% end %>
          <% if flash[:error] %>
          <div class="submit_error"><%= flash[:error] %></div><!-- .error -->
          <% end %>
          <div class="yuyue_form">
            <label for="zhuanti_title">标题</label>
            <input id="zhuanti_title" style="width:400px" type="text" size="30" name="zhuanti_title">
          </div>
          <div class="clear"></div>
          <div class="form_tips">标题</div>

          <div class="yuyue_form">
            <label for="zhuanti_url">地址</label>
            <input id="zhuanti_url" style="width:400px" type="text" size="30" name="zhuanti_url">
          </div>
          <div class="clear"></div>
          <div class="form_tips">地址</div>

          <div class="yuyue_form">
            <label for="zhuanti_campaign">活动系列</label>
            <input id="zhuanti_campaign" style="width:400px" type="text" size="30" name="zhuanti_campaign">
          </div>
          <div class="clear"></div>
          <div class="form_tips">活动系列</div>

          <div class="yuyue_form">
            <label for="zhuanti_desc">描述</label>
            <textarea id="zhuanti_desc" cols="80" name="zhuanti_desc" rows="10"></textarea>
          </div>
          <div class="clear"></div>
          <div class="form_tips">描述</div>

          <div class="yuyue_form">
            <label for="zhuanti_content">内容</label>
            <textarea id="zhuanti_content" cols="80" name="zhuanti_content" rows="30"></textarea>
          </div>
          <div class="clear"></div>
          <div class="form_tips">内容</div>


          <div id="form_submit">
            <input id="zhuanti_submit" type="submit" value="提交" name="commit">
          </div>
				 </form>
				 <div class="clear"></div>
			</div>
		</div><!-- #content_container -->
		<div class="clear"></div>

