<% content_for :head do %>
<title>小马留学网-资源不存在</title>
<meta name="description" content="资源不存在" />
<meta name="keywords" content="小马留学网" />
<% end %>

	<div class="container empty_list">


		<div class="common_error">对不起,此资源不存在或者已被删除</div><!-- .message -->


	</div><!-- #content_container -->

	<div class="clear"></div>

