<% content_for :head do %>
<title>小马过河-资源不存在</title>
<meta name="description" content="资源不存在" /> 
<meta name="keywords" content="小马过河" /> 
<% end %>

	<div class="container empty_list">


					<% if flash[:message] %>
						<div class="submit_message"><%= flash[:message] %></div><!-- .message -->
						<% end %>
						<% if flash[:error] %>
						<div class="submit_error"><%= flash[:error] %></div><!-- .error -->
					<% end %>

		
	</div><!-- #content_container -->

	<div class="clear"></div>