<% content_for :head do %>
<title>小马过河-后台管理</title>
<meta name="description" content="小马过河是一个专业的出国留学备考社区,包含丰富的学习资源,资料下载,涉及内容包括托福,sat,gre,雅思,以及出国一些专业知识,并为大家提供一个学习和交流的平台">
<meta name="keywords" content="雅思考试,托福考试,出国,留学,GRE,SAT,GMAT,SSAT,AP,美国名校">
<% end %>

		<div class="container empty_high_list">
		  <div class="page_path">
			  <a href="/">首页</a> &gt;&gt; 后台管理
			</div><!-- .page_path -->
			<div class="page_title"><h1>后台管理首页</h1></div>
		     <% if flash[:message] %>
					<div class="submit_message"><%= flash[:message] %></div><!-- .message -->
					<% end %>
					<% if flash[:error] %>
					<div class="submit_error"><%= flash[:error] %></div><!-- .error -->
					<% end %>

					<h3><a href="/xmadmin/searches">搜索引擎管理</a></h3>
					<h3><a href="/xmadmin/sources/source">译文原文管理</a></h3>
					<h3><a href="/xmadmin/sources/translation">译文翻译管理</a></h3>
					<h3><a href="/downloads/admin/dl_types">上传分类管理</a></h3>
					<h3><a href="/downloads/admin/threads">上传资源管理</a></h3>

		</div>

