<h1>Listing ask_answers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ask_answers.each do |ask_answer| %>
  <tr>
    <td><%= link_to 'Show', ask_answer %></td>
    <td><%= link_to 'Edit', edit_ask_answer_path(ask_answer) %></td>
    <td><%= link_to 'Destroy', ask_answer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ask answer', new_ask_answer_path %>
